<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="data source=111.223.32.9;initial catalog=FIFTH_xxxxDB;persist security info=True;user id=sa;password=Welcome!123;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="data source=111.223.32.9;initial catalog=NEWSENTdb;persist security info=True;user id=sa;password=Welcome!123;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PRDEntities" connectionString="metadata=res://*/Models.ModelPRDDB.csdl|res://*/Models.ModelPRDDB.ssdl|res://*/Models.ModelPRDDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.223.32.9;initial catalog=NNT_DataCenter;persist security info=True;User ID=dbiuser;PWD=NNTDataCenter;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FIFTHDBEntities" connectionString="metadata=res://*/Models.ModelDB.csdl|res://*/Models.ModelDB.ssdl|res://*/Models.ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.223.32.9;initial catalog=NEWSMETADATAdb;persist security info=True;User ID=dbiuser;PWD=NNTDataCenter;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NEWSENTdbEntities" connectionString="metadata=res://*/Models.ModelENTDB.csdl|res://*/Models.ModelENTDB.ssdl|res://*/Models.ModelENTDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.223.32.9;initial catalog=NEWSENTdb;User ID=dbiuser;PWD=NNTDataCenter;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NNTWEBEntities" connectionString="metadata=res://*/Models.ModelWEBDB.csdl|res://*/Models.ModelWEBDB.ssdl|res://*/Models.ModelWEBDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.223.32.9;initial catalog=NNT_WEB;persist security info=True;User ID=dbiuser;PWD=NNTDataCenter;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
<add name="NEWSNNTLOGdbEntities" connectionString="metadata=res://*/Models.ModelLOGdb.csdl|res://*/Models.ModelLOGdb.ssdl|res://*/Models.ModelLOGdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=111.223.32.9;initial catalog=NEWSNNTLOGdb;persist security info=True;User ID=dbiuser;PWD=NNTDataCenter;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
 </connectionStrings>
  <appSettings>
    <add key="WEPAPPLICATIONNAME" value="" />
<add key="PAGEDLISTPAGESIZE" value="10" />


    <!--  <add key="SSRS_WEBSERVICE_PATH" value="http://xxxxx/Reportserver" />
    <add key="SSRS_REPORT_PATH" value="/FIFTHMVC" />

    
    <add key="WEPAPPLICATIONNAME" value="FIFTHMVC/" />-->
    <add key="SSRS_WEBSERVICE_PATH" value="http://fifth11-l01/Reportserver_MSSQL2K8R2" />
    <add key="SSRS_REPORT_PATH" value="/SurveySpot" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB" />
    <authentication mode="None" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <customErrors mode="Off">
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>